@{
    ViewData["Title"] = "Photography";
}

<body class="photography-page">
  <section class="header-section">
    <h1>Presenting My Curated Collection of Photography</h1>
  </section>
  <section class="skew-gallery">
    <img width="600" height="600" src="@Url.Content("~/images/photography1.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography2.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography3.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography4.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography5.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography6.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography7.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography8.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography9.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography10.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography11.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography12.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography13.jpg")" alt="" class="skewElem" loading="lazy">
    <img width="600" height="600" src="@Url.Content("~/images/photography14.jpg")" alt="" class="skewElem" loading="lazy">
  </section>
</body>

